{% extends "layout.html" %}

{% block body %}
  <h1>Bounty Leaderboard</h1>
  <h2>{{date_from}} - {{date_to}}</h2>
  <br />
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_content">

                  <table class="table table-hover clickable">
                    <thead>
                      <tr>
                        <th class="enumerator">#</th>
                        <th>Node</th>
                        <th>Monthly Availability</th>
                        <th>Data Transferred</th>
                        <th class="mobile-hide">Sessions</th>
                        <th class="mobile-hide">Unique Users</th>
                        <th>Country</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in leaderboard_rows %}
                      {% if row.hours_available >= 24 %} 
                      <tr onclick="window.document.location='/node/{{row.provider_id}}/{{row.service_type}}'">
                      {% else %}
                      <tr style="opacity: 0.7;" onclick="window.document.location='/node/{{row.provider_id}}/{{row.service_type}}'">
                      {% endif %}
                        <td scope="row" class="enumerator">{{loop.index}}</td>
                        <td class="td-node-key">{{row.provider_id}}</td>
                        <td>{{row.availability}}</td>
                        <td>{{row.total_bytes|format_bytes_count}}</td>
                        <td class="mobile-hide">{{row.sessions_count}}</td>
                        <td class="mobile-hide">{{row.unique_users}}</td>
                        <td>{{row.country}}</td>
                        <td>
                          {% if row.service_status == 'Online' %}
                            <i class="fa fa-circle green" aria-hidden="true" title="Online"></i>
                          {% else %}
                            <i class="fa fa-circle" aria-hidden="true" title="Offline"></i>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

{% endblock %}
