{% extends "layout.html" %}

{% block body %}

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Weekly Leaderboard ({{date_from}} - {{date_to}})</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <table class="table table-hover clickable">
                    <thead>
                      <tr>
                        <th class="enumerator">#</th>
                        <th>Node</th>
                        <th>Sessions</th>
                        <th>Unique Users</th>
                        <th>Data Transferred</th>
                        <th>Weekly Availability (openvpn)</th>
                        <th>Weekly Availability (wireguard)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in leaderboard_rows %}
                      <tr>
                        <td scope="row" class="enumerator">{{loop.index}}</td>
                        <td class="td-node-key">{{row.provider_id}}</td>
                        <td>{{row.sessions_count}}</td>
                        <td>{{row.unique_users}}</td>
                        <td>{{row.data_transferred}}</td>
                        <td>{{row.availability_openvpn}}</td>
                        <td>{{row.availability_wireguard}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>

{% endblock %}
