{% extends "layout.html" %}

{% block body %}

    <div class="page-title">
      <div class="title_left">
        <h3>Node </h3>
          <div class="key">{{ node.node_key }}</div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel no-bottom">
          <div class="x_title">
            <h2>Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="row">
              <ul class="stats-overview">
                <li class="col-md-2 col-sm-4 col-xs-6">
                  <span class="name">Status</span>
                  <span class="value">{{ node.status }}</span>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                  <span class="name">Sessions</span>
                  <span class="value">{{ node.sessions_count }}</span>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                  <span class="name">Country</span>
                  <span class="value">{{ node.country_string }}</span>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6 ">
                  <span class="name">Seen</span>
                  <span class="value">{{ node.last_seen }}</span>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                  <span class="name">Data Transferred</span>
                  <span class="value">{{ node.data_transferred }}</span>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                  <span class="name">Transport Protocol</span>
                  <span class="value">{{ node.service_type }}</span>
                </li>
                <li class="col-md-2 col-sm-4 col-xs-6">
                  <span class="name">Uptime</span>
                  <span class="value">{{ node.uptime }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Week Availability</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="graph_bar" style="width:100%; height:280px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Latest Sessions</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table class="table table-hover clickable">
              <thead>
                <tr>
                  <th class="enumerator">#</th>
                  <th>Session</th>
                  <th>Status</th>
                  <th>Started</th>
                  <th>Duration</th>
                  <th>Data Transferred</th>
                </tr>
              </thead>
              <tbody>

              {% for se in node.sessions %}
              <tr onclick="window.document.location='/session/{{se.session_key}}'">
                <td scope="row" class="enumerator">{{loop.index}}</td>
                <td class="td-session-key">{{se.session_key}}</td>
                <td>{{se.status}}</td>
                <td>{{se.started}}</td>
                <td>{{se.duration}}</td>
                <td>{{se.data_transferred}}</td>
              </tr>
              {% endfor %}

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script>
      var availability_chart_data = [
      {% for se in node.availability %}
        {day: '{{ se["day"] }}', time_online: {{ se["time_online"] }}},
      {% endfor %}
      ];
    </script>
{% endblock %}
