{% extends "layout.html" %}

{% block body %}

    <div class="page-title">
      <div class="title_left">
        <h3>Sessions</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>All Sessions</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <table class="table table-hover clickable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Session Key</th>
                  <th>Status</th>
                  <th>Started</th>
                  <th>Duration</th>
                  <th>Data Transferred (KB)</th>
                </tr>
              </thead>
              <tbody>

              {% for se in sessions %}
              <tr onclick="window.document.location='/session/{{se.session_key}}'">
                <th scope="row">{{loop.index}}</th>
                <td>{{se.session_key}}</td>
                <td>{{se.status}}</td>
                <td>{{se.started}}</td>
                <td>{{se.duration}}</td>
                <td>{{se.data_transferred}}</td>
              </tr>
              {% endfor %}

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

{% endblock %}
